.zp-setting-geonames_user > th,
.zp-setting-atlas-status th {
	visibility: hidden;
}
.zp-setting-atlas label {
	display: block;
	margin: 0 0 12px;
	
}
#tab_container .zp-setting-atlas input {
	margin-right:8px;
}
.zp-flex-container {
  display: flex;
   padding:10px;
}
#zp-atlas-status td {
  font-size: inherit;
  margin-bottom: 0;
  padding: 6px 10px;
  border-bottom: 1px solid #e5e5e5;
}
#zp-atlas-status tr:last-child td {
  border-width: 0;
}
#zp-spinner {
	position: relative;
	display: inline-block;
	margin-right: 20px;
}
@keyframes spinner{ to{
	transform:rotate(360deg)
	}
}
.zp-spinner {
	min-height: 18px;
}
.zp-spinner:before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 18px;
	height: 18px;
	margin-top: -10px;
	margin-left: -10px;
	border-radius: 50%;
	border: 2px solid #ccc;
	border-top-color: #336;
	animation: spinner 1s linear infinite;
}
.zp-atlas-message{
	position: relative;
	overflow: hidden;
}
.zp-atlas-message.notice{
	border-left-color: #9900CC!important;
}
.zp-atlas-error{
	color:#dc3232;
}
.zp-success{
	color:green;
}

.zp-admin-title{
	font-size: 23px;
	line-height: 29px;
	padding: 9px 15px 4px 0px;
	display: inline-block;
}
#system-info-textarea {
	width: 800px;
	height: 400px;
	font-family: Menlo,Monaco,monospace;
	background: #fff none repeat scroll 0px 0px;
	white-space: pre;
	overflow: auto;
	display: block;
}
.zp-tools-desc {vertical-align: bottom;padding-left:4px;}
.toplevel_page_zodiacpress h2 {
	clear:both;
	padding-top:1em;
}
.button-secondary.zp-docs-link,
.button-secondary.zp-feedback-link {
	margin-right:10px;
}
.button-secondary.zp-extend-link,
.button-secondary.zp-feedback-link {
	margin-bottom:10px;
}
.zp-extend-link::before {
	font-family: "zodiacpress" !important;
	content: "\e90c";
	padding: 0 10px 0 0;
}
.zp-helptext{
	padding-top:2em;
}

#tab_container.natal_orbs th {
	padding:0;
}
#tab_container.natal_orbs td {
	padding:0 0 4px 0;
	margin-bottom: 0;
}

.zp-setting-checkbox-label label {
	padding-left:8px;
}
#zp-atlas-installer {
	background: #fafafa;
	padding: 14px;
	border-top: 1px solid #eee;
	margin: 0 0 14px;
	width: 100%;
	box-sizing: border-box;
}

@media screen and ( max-width: 727px ) {
	#tab_container.misc_main label,
	.zp-tools-desc {
		display: block;
		padding-top:8px;
	}
	#tab_container.natal_orbs td {
		padding-bottom: 8px;
	}
}
